@define-color base00 #181818;
@define-color base01 #1a1b1c;
/*@define-color base02 #3b3e47;*/
@define-color base02 #99917f;

@define-color base03 #585858;
@define-color base04 #b8b8b8;
@define-color base05 #d8d8d8;
@define-color base06 #e8e8e8;
@define-color base07 #f8f8f8;
@define-color base08 #ab4642;
@define-color base09 #dc9656;
@define-color base0A #f7ca88;
@define-color base0B #a1b56c;
@define-color base0C #86c1b9;
@define-color base0D #7cafc2;
/* @define-color base0E #ba8baf; */
@define-color base0E #87c48e;
@define-color base0F #a16946;

@define-color module-text #282828;

* {
  transition: none;
  box-shadow: none;
}

#waybar {
  font-family: "Ubuntu Mono", sans-serif;
  font-size: 1em;
  font-weight: bold;
  color: @base04;
  background: #282828;
}

#workspaces {
  margin: 4px 4px;
  background-color: @base02;
  border-radius: 4px;
}

#workspaces * {
  border-left: 1px solid @base00;
  border-radius: 0;
}

#workspaces *:first-child {
  border-left: none;
}
#workspaces button {
  margin: 0px 0px;
  padding: 0 4px;
  color: @module-text;
}

#workspaces button.visible {
}

#workspaces button.active {
  border-radius: 4px;
  /* background-color: #c6a0f6; */
  /* background-color: #87c48e; */
  background-color: #ebdba1;
  /* color: #4c00a8; */
  color: #282828;
}

#workspaces button.urgent {
  color: rgba(238, 46, 36, 1);
}

#tray {
  margin: 4px 4px 4px 4px;
  border-radius: 4px;
  background-color: @base02;
}

#tray * {
  padding: 0 6px;
  border-left: 1px solid @base00;
}

#tray *:first-child {
  border-left: none;
}

#mode,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#idle_inhibitor,
#backlight,
#custom-storage,
#custom-updates,
#custom-weather,
#custom-mail,
#clock,
#temperature {
  margin: 4px 2px;
  padding: 0 6px;
  background-color: @base02;
  color: @module-text;
  border-radius: 4px;
  min-width: 20px;
}

#pulseaudio.muted {
  color: @base0F;
}

#pulseaudio.bluetooth {
  color: @base0C;
}

#clock {
  margin-left: 0px;
  margin-right: 4px;
  background-color: transparent;
  color: @base04;
}

#temperature.critical {
  color: @base0F;
}

#window {
  font-size: 0.9em;
  font-weight: 400;
  font-family: sans-serif;
}
